body{ 
    height: 90vh; 
    width: 90vw; 
    background-color: #edf2f4;
}
.container{
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
} 
h1{ 
    font-size: 50px; 
    letter-spacing: 1px; 
    margin-bottom: 30px; 
    text-align:center;
} 
.blogs{
    display: flex; 
    gap: 10px;
    padding: 1rem; 
} 
.box{ 
    background-color: white; 
    height: 100%; 
    width: 55%; 
    display: flex;
    flex-direction: column; 
    margin: 0 2rem; 
    padding: 15px; 
    flex: 2;
    text-decoration: none; 
    color: #212443 ;
    height: fit-content; 
} 
.box:hover{ 
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4); 
} 
.box img{ 
    height: 200px; 
    width: 100%; 
    object-fit: cover; 
    border: 1px solid #ddd 
} 
.box button{ 
    margin: 10px 0; 
    padding: 3px 10px; 
    background-color: #212443; 
    border-radius: 10px; 
    color: white; 
    width: fit-content; 
} 
.post .description{ 
    margin: 10px 0; 
    height: 30%; 
}
.box .more{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    color: cornflowerblue; 
} 
.more p{ 
    font-size: 16px; 
    text-transform: uppercase; 
} 
.more i{ 
    font-size: 25px; 
}